@font-face { 
	font-family: BebasNeue; 
	src: url('/fonts/BebasNeue-Regular.ttf'); 
} 
* {
	box-sizing: border-box;
}
html, body	{
	padding:0;
	margin:0;
	font-family:calibri;
	min-height:100vh;
}
div#map {
	height: 80vh;
	width: 100%;
	/*margin-left:-15%*/
	overflow:hidden;
	margin:0px;
	padding:0px;
	border: 4px solid #4717F6;
	color:black;
}
body {
	background-color:#0E0B16;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: black;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	overflow:hidden;
	color:white;
}
/* The Close Button */
.closeSpan {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	display:none;
}
button.modalSubmit {
	float: right;
	font-size: 28px;
	font-weight: bold;
	display:none;
}
#modalInput, #modalInputLabel {
	display:none;
}
div#modalOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-color: #4d4b46;
  opacity:0.5;
  display:none;
}
.closeSpan:hover, .closeSpan:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
h1, div.quiz, ul.quiz li, table	{
	box-sizing: border-box;
	border: 1px solid black;
	padding: 0.2em;
	border-radius: 10px;
	background: linear-gradient(#A239CA, #4717F6);
}
ul.quiz li	{
	background-color: white;
}
h1	{
	text-align:center;
}
.results	{
	display:none;
}
a#question, div.quiz p	{
	margin: 0.2em;
}
table, tr, td {
	text-align: left;
}
div.topBarLeft {
	width:15%;
	height:100%;
	float:left;
	padding:0;
	margin:0;
}
div.topBarMiddle {
	width:70%;
	height:100%;
	float:left;
	padding:0;
	margin:0;
}
div.topBarRight {
	width:15%;
	height:100%;
	float:left;
	padding:0;
	margin:0;
}
div.topMenu, nav.navBackground	{	
	box-sizing: border-box;
	position:relative;
	list-style-type:none;
	background-color:black;
	text-align:center;
	border-radius:0.4em;
	border:1px solid black;
	border-top:unset;
	margin:0em;
	min-height:25px;
	border-bottom:1px solid darkgrey;
	z-index: 1;
}
div.topMenu {
	height:5vh;
	max-height:5vh;
	border-radius:0em;
	border-right:unset;
	border-left:unset;
	padding:0;
	margin:0;
}
div.marginTenPercent {
	height:10%;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

div.logoContainer {
	box-sizing: border-box;
	border:1px solid black;
	border-radius:0.5em;
	height:100%;
	min-width:40px;
	padding:0;
	margin:0;
	min-height:20px;
	overflow:hidden;
	display:block;
	width:80%;
	float:left;
}
a#topLogoLink {
	text-decoration:none!important;
}
div#topLogo	{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	min-width:40px;
	background: linear-gradient(to right, #A239CA, #4717F6);
}
div.topLogoTextContainer {
	position:absolute;
	left:0;
	top:0;
	text-align: center;
	font-weight: bold;
	color:white;
}

div.topTitleContainer {
	height:4vh;
	padding:0;
	margin:0;
	min-height:20px;
	display:inline-block;
	
}
h1.topTitle {
	position:relative;
	box-sizing: border-box;
	margin:0;
	padding: 0;
	border: unset;
	border-radius: 0;
	background:unset;
	text-align:unset;
	float:left;
	font-size:calc(10px + 0.20vh + 0.20vw);
	color:white;
	z-index: 2;
}
a:hover.topMenuLink, a.topMenuCurrent, a:hover.topMenuCurrent	{
	text-decoration:none;
	color:white;
	background-color:black;
}
button {
	color: white;
	font-size:calc(10px + 0.20vh + 0.20vw);
	background-color: #4717F6;
	background: linear-gradient(#A239CA, #4717F6);
	border: 0;
	border-radius: 3px;
	text-shadow: 0 -1px 0 #000;
	box-shadow: -1px 1px 0 #802ba1, 0 2px 0 #802ba1, 0 6px 6px rgba(0,0,0,0.6);
	float:right;
	overflow:hidden;
	text-transform: uppercase;
}
button.topMenuRight	{
	position:relative;
	top:5%;
	right:2%;
	/*display: block;*/
	/*font-size: 1.1em;
	font-weight: bold;*/
	/*padding: 10px 15px;*/
	margin:0;
	padding: 0;
	min-height:20px;
	min-width:40px;
	height: 80%;
	width:40%;
}
button:active {
	color: #fff;
	text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
	box-shadow: 0 1px 0 #802ba1, 0 1px 0 #802ba1, 0 2px 2px rgba(0,0,0,0.9);
	transform: translate(-2px, 1px);
	animation: none;
}
button:hover, button:focus {
	background-color:#633af8;
	background: linear-gradient(#b35ed4, #633af8);
}
nav.navBackground	{
	width:100%;
	float:right;
	/*height:92vh;*/
	overflow:hidden;
	/*display:none;*/
	border-bottom:unset;
	background: linear-gradient(#A239CA, #4717F6);
	min-width:90px;
}
@keyframes expand {
  from {
	height:0vh;
  }
  to { 
	height:92vh;
  }
}
@keyframes fade {
  from {
	opacity:1;
  }
  to { 
	opacity:0;
  }
}
div.navContainer/*, a.navigate*/ {
	width:10%;
	float:right;
	border-bottom:unset;
	min-width:90px;
	display:none;
	overflow:hidden;
	animation: expand 1s linear forwards;
}
a.navigate, a:hover.navigate, a.current, a:hover.current	{
	text-decoration:unset;
	color:white;
	padding:0.5em;
	display:block;
	font-size:calc(10px + 0.20vh + 0.20vw);
	border-bottom:1px solid black;
}
a.topMenuLink {
	text-decoration:none;
	color:black;
	margin:0;
	padding:0;
	float:left;
}
div#footer	{	
	box-sizing: border-box;
	position:relative;
	background-color:black;
	text-align:center;
	height:3vh;
	min-height:20px;
	border-top:1px solid lightgrey;
	overflow:hidden;
	color:white;
}
div#footer div {
	overflow: hidden;
	font-size:calc(10px + 0.20vh + 0.20vw);
	overflow:hidden;
}
a:visited {
	color:#A239CA;
}
a:hover {
	color:white;
}
a:active {
	color:#4717F6;
}
a:visited.navigate	{
	background-color:black;
	color:white;
}
a:hover.navigate	{
	background-color:black;
	color:white;
}
a:active.navigate	{
	color:white;
}
a.current, a:hover.current	{
	color:white;
	background-color:black;
}
div.main	{
	margin-left:15%;
	margin-right:15%;
	overflow:hidden;
	min-height:92vh;
	background-color:black;
	color:white;
	display:block;
}
div#leftColour, div#rightColour	{
	background-color:#e7f5fe;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:1px 1%;
	position:fixed;
	top:0;
	bottom:0;
	min-width:10%;
	max-width:10%;
	overflow:hidden;
}
div#leftColour	{
	left:0;
}
div#rightColour	{
	right:0;
}
div.containFloat	{
	overflow:hidden;
}
div#leftDiv	{
	width:35%;
	float:left;
}
div#rightDiv	{
	width:35%;
	float:right;
}
textArea	{
	max-width:98%;
}
#hidden	{
	display:none;
	color:lightskyblue;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-size:6em;
}
/*Browsersnake*/

div#background{
	height: 70vh;
	width: 100%;
	/*position: absolute;*/
	/*margin-left:-15%*/
	overflow:hidden;
	margin:0px;
	padding:0px;
	border: 4px solid #4717F6;
}
div#playable{
	position:relative;
    height: 100%;
    width: 100%;
	/*overflow:hidden;*/
    /*background: black;
    position: absolute;
	margin:0px;
	padding:0px;*/
}
div#powerUp {
    position: absolute;
    background: yellow;
    top:0px;
    left:0px;
    border-radius: 100px;
	margin:0px;
	padding:0px;
}
div.section {
	position:absolute;
	margin:0px;
	padding:0px;
}
div#topSectionVisible {
	text-align:center;
}
div#bottomSectionVisible {
	text-align:center;
}
div#leftSectionVisible {
	text-align:left;
}
div#rightSectionVisible {
	text-align:right;
}
div#topSection, div#bottomSection, div#leftSection, div#rightSection {
	z-index:1;
}
div#topSectionVisible, div#bottomSectionVisible, div#leftSectionVisible, div#rightSectionVisible,div#aButtonVisible, div#bButtonVisible, div#startButtonVisible {
	color:white;
	border:1px solid #4717F6;
	display:none;
	margin:0px;
	padding:0px;
}
div.centre {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
table.scoreboard {
    position: absolute;
    left: 0px;
    top: 0px;
	padding:1%;
	border-spacing: 10px 0;
	margin:0px;
	padding:0px;
}
tr.scoreLabels, tr.scores, th.scoreboard {
    color: white;
	font-size:calc(10px + 1vh);	
	text-align: center;
	margin:0px;
	padding:0px;
}
button#settings {
	position:absolute;
	bottom:0px;
	right:0px;
	margin:0px;
	padding:0px;
}
button#pause {
	position:absolute;
	bottom:0px;
	left:0px;
	margin:0px;
	padding:0px;
}
div.eye {
	width:35%;
	height:35%;
	position:absolute;
	border-radius: 100px;
}
div.bullet {
	background: red;
	border-radius: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin:0px;
	padding:0px;
}
div.enemy {
	background: pink;
	position: absolute;
	top: 0px;
	left: 0px;
	margin:0px;
	padding:0px;
}
p#info {
	color: powderblue;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	text-align: center;
	margin:0px;
	padding:0px;
	animation: fade 2s linear forwards;
}

/*Snake CSS*/

	div.snake.head.right {
		border-radius:0px 15% 15% 0px;
	}	
	div.snake.head.left {
		border-radius:15% 0px 0px 15%;
	}
	div.snake.head.up {
		border-radius:15% 15% 0px 0px;
	}
	div.snake.head.down {
		border-radius:0px 0px 15% 15%;
	}
	
	/*div.snake {
		box-shadow:0px 0px 0px 2px white;
	}*/


/*End of browsersnake*/

@media screen and (orientation:portrait) {
	nav.navBackground, a.navigate, a.navigate:hover, p.footer, a.current, a.current:hover, div.navContainer	{
		width:100%;
	}
	div.main {
		float:unset;
		border:unset;
		border-radius:unset;
		width:unset;
		float:none;
		position:unset;
	}
	div.main	{
		margin-left:10%;
		margin-right:10%;
	}
	div.topBarLeft {
		width:10%;
	}
	div.topBarMiddle {
		width:80%;
	}
	div.topBarRight {
		width:10%;
	}
	nav.navBackground, div.navContainer	{
		left:0px;
		position:absolute;
		border:1px solid black;
		border-top:unset;
		min-height:unset;
		height:auto;
		min-width:unset;
		max-width:unset;
		text-align:center;
	}
	div.navContainer,div.navContainer:focus {
		border:none;
		outline: none;
		top:5vh;
	}
	div#leftDiv, div#rightDiv, #hidden	{
		float:unset;
		padding:unset;
		position:unset;
		width:unset;
	}
	div#leftColour, div#rightColour	{
		min-width:5%;
		max-width:5%;
	}
	#hidden	{
		font-size:4em;
	}
}