@font-face { 
	font-family: BebasNeue; 
	src: url('/fonts/BebasNeue-Regular.ttf'); 
} 
html, body	{
	padding:0;
	margin:0;
	font-family:calibri;
	min-height:100vh;
}
/** {
	box-sizing: border-box;
	border: 1px solid red;
}*/
h1, div.quiz, ul.quiz li, table	{
	padding: 0.2em;
	border: 1px solid black;
	border-radius: 10px;
	background-color:lightskyblue;
}
ul.quiz li	{
	background-color: white;
}
h1	{
	text-align:center;
}
.results	{
	display:none;
}
a#question, div.quiz p	{
	margin: 0.2em;
}
table, tr, td {
	text-align: left;
}
div.topMenu, nav.navigate	{	
	box-sizing: border-box;
	position:relative;
	list-style-type:none;
	background-color:lightskyblue;
	text-align:center;
	border-radius:0.4em;
	border:1px solid black;
	border-top:unset;
	overflow:hidden;
	margin:0em;
	min-height:25px;
}
div.topMenu {
	height:5vh;
	border-radius:0em;
	border-right:unset;
	border-left:unset;
}
div.marginTenPercent {
	height:10%;
}

div.logoContainer {
	box-sizing: border-box;
	float: left;
	border:1px solid black;
	border-radius:0.5em;
	/*width:15%;*/
	height:80%;
	/*min-width:200px;*/
	min-height:20px;
	vertical-align: middle; 
	overflow:hidden;
}
div.topTitleContainer {
	float:left;
	height:80%;
	margin-left:2vw;
}
div.topTitleContainer h1 {
	box-sizing: border-box;
	margin:0;
	padding: 0;
	border: unset;
	border-radius: 0;
	background-color:unset;
	text-align:unset;
	float:left;
	font-size:calc(10px + 1vh);	
	border-left:1px solid black;
}
div.topMenuRight	{
	float: right;
	border-radius:0.5em;
	height:80%;
	min-height:20px;
	padding:0;
	margin-right:0.2%;
	vertical-align: middle; 
	overflow:hidden;
}
a.topMenuLink {
	font-size:calc(10px + 1vh);	
	text-decoration:none;
	color:black;
	margin:0;
	padding:0;
	float:left;
}
canvas#topLogo	{
	padding:0;
	margin-top:0;
	height:100%;
	width:100%;
	min-width:7.5%;
}

a:hover.topMenuLink, a.topMenuCurrent, a:hover.topMenuCurrent	{
	text-decoration:none;
	color:white;
	background-color:black;
	font-size:calc(10px + 1vh);	
}

div#footer	{	
	box-sizing: border-box;
	position:relative;
	background-color:lightskyblue;
	text-align:center;
	font-size:calc(10px + 1vh);	
	height:3vh;
	min-height:15px;
	border-top:1px solid black;
	overflow:hidden;
}
div#footer div {
	overflow: hidden;
}
a.navigate, a:hover.navigate, a.current, a:hover.current	{
	text-decoration:unset;
	color:black;
	padding:0.5em;
	display:block;
	font-size:calc(10px + 1vh);	
	float:left;
}
a:hover.navigate	{
	background-color:black;
	color:white;
}
a.current, a:hover.current	{
	color:white;
	background-color:black;
}
div.main	{
	margin-left:15%;
	margin-right:15%;
	overflow:hidden;
	min-height:92vh;
}
div#leftColour, div#rightColour	{
	background-color:#e7f5fe;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding:1px 1%;
	position:fixed;
	top:0;
	bottom:0;
	min-width:10%;
	max-width:10%;
	overflow:hidden;
}
div#leftColour	{
	left:0;
}
div#rightColour	{
	right:0;
}
div.containFloat	{
	overflow:hidden;
}
div#leftDiv	{
	width:35%;
	float:left;
}
div#rightDiv	{
	width:35%;
	float:right;
}
textArea	{
	max-width:98%;
}
#hidden	{
	display:none;
	color:lightskyblue;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-size:6em;
}
@media screen and (orientation:portrait) {
	nav.navigate, a.navigate, a.navigate:hover, p.footer, a.current, a.current:hover	{
		float:unset;
		/*border:unset;*/
		border-radius:unset;
		width:unset;
		float:none;
		position:unset;
		min-height:unset;
		max-height:unset;
	}
	div.main {
		float:unset;
		border:unset;
		border-radius:unset;
		width:unset;
		float:none;
		position:unset;
	}
	div.main	{
		margin-left:10%;
		margin-right:10%;
	}
	nav.navigate	{
		position:relative;
		bottom:unset;
		top:unset;
		border:1px solid black;
		border-top:unset;
		min-height:unset;
		height:auto;
		min-width:unset;
		max-width:unset;
		text-align:center;
	}
	div#leftDiv, div#rightDiv, #hidden	{
		float:unset;
		padding:unset;
		position:unset;
		width:unset;
	}
	div#leftColour, div#rightColour	{
		min-width:5%;
		max-width:5%;
	}
	#hidden	{
		font-size:4em;
	}
}